.node circle{
   fill: steelblue;
   stroke-width: 1px;
   stroke: steelblue;
}

.link {
   fill: none;
   stroke: #ccc;
   stroke-width: 4px;
}

.btn.btn-primary.smallFont {
   font-size: 10px;
   padding: 3px 3px;
}

input[name="graphToUpload"] {
  size: 10px;
}

#feedback{
   position: fixed;
   top: 10px;
   left: 50%;
   right: 50%;
   text-align: center;
   width: 450px;
   margin-left: -150px;
}

#rightPanel {
   position: fixed;
   right: 25px;
   top: 25px;
   width: 300px;
   opacity: 0.9;
}

#leftPanel {
   font-size: 10px;
   position: fixed;
   left: 25px;
   top: 25px;
   width: 350px;
   opacity: 0.9;
}

#zoomButtons {
   width: 150px;
   text-align: center;
   position: fixed;
   left: 50%;
   right: 50%;
   bottom: 25px;
}
