/* Custom node context menus */
.context-menu {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;

   background-color: #f2f2f2;
   border: 1px solid #999;

   list-style-type: none;
   margin: 0;
   padding: 0;
}

.context-menu a {
    display: block;
    padding: 3px;
    text-decoration: none;
}
.context-menu a:hover {
    background-color: #DDEFF8;
    text-decoration: none;
}

/* Bootstrap buttons */
.btn.btn-primary.smallFont {
   font-size: 10px;
   padding: 3px 3px;
   width: 105px;
}

.btn.btn-danger.smallFont {
   font-size: 10px;
   padding: 3px 3px;
}

select, input#hash {
   width: 210px;
}

footer {
   text-align: center;
}

i {
   margin-right: 25px;
}

#feedback{
   position: fixed;
   top: 10px;
   left: 50%;
   right: 50%;
   text-align: center;
   width: 450px;
   margin-left: -150px;
}

#rightPanels {
   position: fixed;
   right: 25px;
   top: 50px;
   opacity: 0.9;
}

#nodePanel, #legendPanel {
   width: 300px;
}

#leftPanel {
   font-size: 12px;
   position: fixed;
   left: 25px;
   top: 25px;
   width: 350px;
   opacity: 0.9;
}

#zoomButtons {
   width: 250px;
   text-align: center;
   position: fixed;
   left: 50%;
   right: 50%;
   bottom: 25px;
}
