.node circle{
   fill: steelblue;
   stroke-width: 1px;
   stroke: steelblue;
}

.link {
   fill: none;
   stroke: #ccc;
   stroke-width: 4px;
}

#canvas {
   height: 350px;
}

#feedback{
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   width: 450px;
}

#rightPanel {
   float: right;
   width: 300px;
}

#leftPanel {
   float: left;
   width: 450px;
}

#zoomButtons {
   clear: both;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   position: relative;
   top: 50px;
}
